.content {
    background-image: url(/assets/images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2,h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

p,li{
    color: azure;
    font-size: 20px;
    text-align: center;
}

ul{
    text-align: center;
}

a:hover{
    color: #9580ff;
}

a{
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.1s; 
    -webkit-transition-timing-function: ease; 
}

img[src*='#left']{
  height: 300px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  border-radius: 50%;
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#moon2']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#moon3']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#moon4']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}



img[src*='#moon5']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#moon8']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#jupiter1']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#saturn1']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}


img[src*='#team1']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#team2']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#team3']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#team4']{
  height: 300px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#team1']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}



img[src*='#moon2']:hover{
    transform: scale(1.2); 
}

img[src*='#moon3']:hover{
    transform: scale(1.2); 
}

img[src*='#moon4']:hover{
    transform: scale(1.2); 
}

img[src*='#moon5']:hover{
    transform: scale(1.2); 
}

img[src*='#moon8']:hover{
    transform: scale(1.2); 
}

img[src*='#team1']:hover{
    transform: scale(2); 
}

img[src*='#team2']:hover{
    transform: scale(2); 
}

img[src*='#team3']:hover{
    transform: scale(2); 
}

img[src*='#team4']:hover{
    transform: scale(2); 
}




img[src*='#left']:hover{
    transform: scale(1.2); 
}
